@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --nav-bg: 255, 255, 255;
}

.dark {
  --nav-bg: 10, 10, 10;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}